/* whole ralphy.gif image is 500px X 560px 
 * each subimage of ralphy.gif is 250px x 187px */

 .ralphy {
 	width: 250px;
 	height: 187px;
 }


/* if screen is >1400px, display the top left image */
@media only screen 
	and (min-width: 1401px) {
		.ralphy{
			background: url(ralphy.gif) 0px 0px;
		}
}

/* if screen is <=1400px and >1200px, display top right image */
@media only screen 
	and (min-width: 1201px)
	and (max-width: 1400px) {
		.ralphy {
			background: url(ralphy.gif) -250px 0px;
		}
}

/* if screen is <=1200px and >1000px, display the middle left image */
@media only screen
	and (min-width: 1001px)
	and (max-width: 1200px) {
		.ralphy {
			background: url(ralphy.gif) 0px -187px;
		}
}

/* if screen is <=1000px and >800px, display the middle right image */
@media only screen
	and (min-width: 801px)
	and (max-width: 1000px) {
		.ralphy {
			background: url(ralphy.gif) -250px -187px;
		}
}

/* if screen is <=800px and >600px, display the bottom left image */
@media only screen
	and (min-width: 601px)
	and (max-width: 800px) {
		.ralphy {
			background: url(ralphy.gif) 0px -374px;
		}
}

/* if screen is <=600px, display the bottom right image */
@media only screen
	and (max-width: 600px) {
		.ralphy {
			background: url(ralphy.gif) -250px -374px;
		}
}










