body {
        font-family: 'Ranga', cursive;
        background-color: black;
}

h1 {
        font-size: 40px;
        color: #21ff00;
}

h2 {
        font-style: italic;
        margin-top: -30px;
        color: #21ff00;
}

h3 {
        font-size: 25px;
        color: #21ff00;
}

img {
        width: 70%;
}

.description {
        font-size: 20px;
        margin-left: 35px;
        margin-right: 10%;
        color: #21ff00;
}