body {
        font-family: 'Ranga', cursive;
}

h1 {
        font-size: 40px;
}

h2 {
        font-style: italic;
        margin-top: -30px;
}

h3 {
        font-size: 25px;
}

img {
        width: 70%;
}

.description {
        font-size: 20px;
        margin-left: 35px;
        margin-right: 10%;
}