#title {
	text-align: center;
	font-family: helvetica;
	color: red;
	font-size: 45px;
}

#failvideo {
	/* centering technique found on StackOverflow */
	display: block;
	margin: 0 auto;
}

#lyrics {
	font-family: helvetica;
	text-align: center;

}